<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= title %>
    </title>
    <!-- linking my css -->
    <link rel="stylesheet" href="/css/style.css">

    <!-- GOOGLE FONTS -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap" rel="stylesheet">

    <!-- adding font awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css" integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk" crossorigin="anonymous">
</head>
<body>
   
    <!-- Jumbotron showcases website Info -->
    <div id="jumbotron">
        <a href="/">
            <h1 id="page-heading">TODO LIST</h1>
        </a>
    </div>

    <!-- section contains all the functionalities -->
    <section id="content">

        <!-- input form is supposed to be flex -->
        <form action="/create-task" method="POST">

            <div id="description-container">
                <h2>Description</h2>
                <input required id="textbox" type="textbox" name="description" placeholder="What do you need to do?">
            </div>

            <!-- ROW 2 -->
            <div id="row-2">
                <div id="category-container">
                    <h2>Category</h2>
                    <select name="category" id="category-selector" required >
                        <option value="">Choose a category</option>
                        <option value="Personal">Personal</option>
                        <option value="Work">Work</option>
                        <option value="School">School</option>
                        <option value="Cleaning">Cleaning</option>
                        <option value="Other">Other</option>
                    </select>
                </div>
    
                <div id="date-container">
                    <h2>Due Date</h2>
                    <input type="date" name="date" required>
                </div>
            </div>

            <!-- ROW 3 -->
            <div id="row-3">
                <button type="submit" id="add-task-button">
                    <h2>
                        <i class="fas fa-plus"></i>
                        ADD TASK
                    </h2>
                </button>
            </div>
        </form>

        <!-- this part holds the output -->
        <div id="tasks-container">
     
            <!-- this button stays on top right corner of the task date-container
            used to expand and contract container size -->
            <i class="fas fa-expand-alt" id="expand-button"></i>

            <!-- adding the tasks list -->
            <ul>
                    
                    <% for(let i of tasksArray){ %>
                    <li class="task" >

                        <input type="checkbox" class="checkbox" unique_id="<%=i._id%>">

                        <div class="task-details">
                            <h2 class="description">
                                <%= i.description %>
                            </h2>
                            <p class="date">
                                <i class="fas fa-calendar-alt"></i>
                                
                                <%=i.date%>
                            </p>
                        </div>
                        

                        <div class="category-displayer" data-category="<%=i.category %>">
                            <h2 class="category-name">
                                <%=  i.category %>
                            </h2>
                        </div>
                    </li>
                    <% } %>
            </ul>

            <!-- this button stays on bottom right corner of the task date-container
            used to DELETE tasks -->
            <i class="fas fa-trash" id="delete-button"></i>

        </div>
    </section>




<!-- ---------------------------------------------------------------------------------------------------------------------- -->
<!-- jQuery cdn -->
<script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
<!-- my script -->
<script type="text/javascript" src="/js/script.js"></script>
<script type="text/javascript" src="/js/common_script.js"></script>
<!-- ---------------------------------------------------------------------------------------------------------------------- -->
</body>
</html>